*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;

}
body{
   
    background-color: darkgrey;
}
li a:hover, li #Reset:hover{
    background-color: blueviolet !important;


}
li a{
    text-decoration: none;
    color: bisque;
}
li a, li span{
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.containers{
   
    width: 85%;
    margin: auto;
    /* min-width:70vh; */
    min-height: 100vh;
    background-color: rgb(35, 33, 33);
    /* display: grid; */
    gap: 10px;
    grid-template-columns: 5fr 3fr;
    padding: 50px;
    border-radius: 5px;
    color: aliceblue;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-filter: saturate();
    
}
.pic{
    
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.upload{
    /* width: 100px; */
    text-align: center;
   
    border-radius:5px ;
    /* background-color: chocolate; */
    margin: 70px auto ;
    
}
.upload:hover{
    background-color: blueviolet;
}
.upload label{
    cursor: pointer;
    background-color: chocolate;
    font-size: xx-large;
    padding: 20px 50px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.upload input{
    display: none;
    
}

.pic img,canvas{
    max-width: 45vw;
    /* max-height: 60vh; */
}
.filters ul, li{
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* height: 80%; */
}
.filters  li{
    gap: 25px;
}
.filters  ul{
    gap: 20px;
    margin-top: 50px;
}
.filters li:last-child{
    
    flex-direction: row;
    margin-top: 10px;
}
.filters li:last-child a ,span{

    border: none;
    padding: 10px 20px;
    background-color: green;
}
li span{
    background-color: brown;
}

@media screen and ( max-width :650px) {
    .containers{
        display: flex;
        flex-direction: column;
        width: 80%;
        min-height: 100vh;
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .pic{
        width: 100%;
    }
    .filters{
        width: 100%;
    }
    .filters li {
        gap: 0 !important;
    }
    .pic ,canvas{
        margin: auto;
        text-align: center;
        padding-bottom: 30px;
       
    }
    .upload{
        margin: 70px auto !important;
        width: 150px;
    }
    #download{
        display: flex;
        align-items: center;
    }
    .pic img,canvas{
        max-width: 80vw;
    }
    header{
        padding: 15px 0px 0px 0px;
    }
}